USE [master]
GO
/****** Object:  Database [TASEF]    Script Date: 19/07/2018 09:15:49 ******/
CREATE DATABASE [TASEF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TASEF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TASEF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TASEF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TASEF_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TASEF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TASEF]
GO
USE [TASEF]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 19/07/2018 09:15:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActifFormulas]    Script Date: 19/07/2018 09:15:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActifFormulas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[codeParam] [nvarchar](max) NULL,
	[codeDonnee] [nvarchar](max) NOT NULL,
	[nomCompte] [nvarchar](max) NOT NULL,
	[typeFormule] [nvarchar](max) NOT NULL,
	[genre] [nvarchar](max) NOT NULL,
	[exercice] [int] NOT NULL,
	[matricule] [nvarchar](max) NULL,
	[ownerId] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ActifFormulas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActifParamModels]    Script Date: 19/07/2018 09:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActifParamModels](
	[code] [nvarchar](128) NOT NULL,
	[libelle] [nvarchar](max) NULL,
	[brutN] [real] NOT NULL,
	[amortProvN] [real] NOT NULL,
	[netN] [real] NOT NULL,
	[netN1] [real] NOT NULL,
	[type] [nvarchar](max) NULL,
	[exercice] [int] NOT NULL,
	[matricule] [nvarchar](128) NOT NULL,
	[state] [nvarchar](max) NULL,
	[ownerId] [nvarchar](128) NOT NULL,
	[priority] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ActifParamModels] PRIMARY KEY CLUSTERED 
(
	[ownerId] ASC,
	[code] ASC,
	[exercice] ASC,
	[matricule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EtatDeResultatFormulas]    Script Date: 19/07/2018 09:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EtatDeResultatFormulas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[codeParam] [nvarchar](max) NULL,
	[codeDonnee] [nvarchar](max) NOT NULL,
	[nomCompte] [nvarchar](max) NOT NULL,
	[typeFormule] [nvarchar](max) NOT NULL,
	[exercice] [int] NOT NULL,
	[matricule] [nvarchar](max) NULL,
	[ownerId] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.EtatDeResultatFormulas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EtatDeResultatParamModels]    Script Date: 19/07/2018 09:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EtatDeResultatParamModels](
	[code] [nvarchar](128) NOT NULL,
	[libelle] [nvarchar](max) NULL,
	[netN] [real] NOT NULL,
	[netN1] [real] NOT NULL,
	[type] [nvarchar](max) NULL,
	[exercice] [int] NOT NULL,
	[matricule] [nvarchar](128) NOT NULL,
	[state] [nvarchar](max) NULL,
	[ownerId] [nvarchar](128) NOT NULL,
	[priority] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EtatDeResultatParamModels] PRIMARY KEY CLUSTERED 
(
	[ownerId] ASC,
	[code] ASC,
	[exercice] ASC,
	[matricule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExcelModelViews]    Script Date: 19/07/2018 09:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExcelModelViews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[matricule] [nvarchar](max) NULL,
	[exercice] [int] NOT NULL,
	[firstPeriodStart] [datetime] NOT NULL,
	[firstPeriodEnd] [datetime] NOT NULL,
	[firstfile] [nvarchar](max) NOT NULL,
	[secondPeriodStart] [datetime] NOT NULL,
	[secondPeriodEnd] [datetime] NOT NULL,
	[secondfile] [nvarchar](max) NOT NULL,
	[ownerId] [nvarchar](max) NULL,
	[journaleRAN] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ExcelModelViews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FluxTresorerieMAFormulas]    Script Date: 19/07/2018 09:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FluxTresorerieMAFormulas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[codeParam] [nvarchar](max) NULL,
	[codeDonnee] [nvarchar](max) NOT NULL,
	[nomCompte] [nvarchar](max) NOT NULL,
	[typeFormule] [nvarchar](max) NOT NULL,
	[exercice] [int] NOT NULL,
	[matricule] [nvarchar](max) NULL,
	[ownerId] [nvarchar](max) NULL,
	[RANjournal] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.FluxTresorerieMAFormulas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FluxTresorerieMAParamModels]    Script Date: 19/07/2018 09:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FluxTresorerieMAParamModels](
	[code] [nvarchar](128) NOT NULL,
	[libelle] [nvarchar](max) NULL,
	[netN] [real] NOT NULL,
	[netN1] [real] NOT NULL,
	[type] [nvarchar](max) NULL,
	[exercice] [int] NOT NULL,
	[matricule] [nvarchar](128) NOT NULL,
	[state] [nvarchar](max) NULL,
	[ownerId] [nvarchar](128) NOT NULL,
	[priority] [int] NOT NULL,
 CONSTRAINT [PK_dbo.FluxTresorerieMAParamModels] PRIMARY KEY CLUSTERED 
(
	[ownerId] ASC,
	[code] ASC,
	[exercice] ASC,
	[matricule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FluxTresorerieMRFormulas]    Script Date: 19/07/2018 09:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FluxTresorerieMRFormulas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[codeParam] [nvarchar](max) NULL,
	[codeDonnee] [nvarchar](max) NOT NULL,
	[nomCompte] [nvarchar](max) NOT NULL,
	[typeFormule] [nvarchar](max) NOT NULL,
	[exercice] [int] NOT NULL,
	[matricule] [nvarchar](max) NULL,
	[ownerId] [nvarchar](max) NULL,
	[RANjournal] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.FluxTresorerieMRFormulas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FluxTresorerieMRParamModels]    Script Date: 19/07/2018 09:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FluxTresorerieMRParamModels](
	[code] [nvarchar](128) NOT NULL,
	[libelle] [nvarchar](max) NULL,
	[netN] [real] NOT NULL,
	[netN1] [real] NOT NULL,
	[type] [nvarchar](max) NULL,
	[exercice] [int] NOT NULL,
	[matricule] [nvarchar](128) NOT NULL,
	[state] [nvarchar](max) NULL,
	[ownerId] [nvarchar](128) NOT NULL,
	[priority] [int] NOT NULL,
 CONSTRAINT [PK_dbo.FluxTresorerieMRParamModels] PRIMARY KEY CLUSTERED 
(
	[ownerId] ASC,
	[code] ASC,
	[exercice] ASC,
	[matricule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formulae]    Script Date: 19/07/2018 09:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formulae](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](max) NOT NULL,
	[type] [nvarchar](max) NOT NULL,
	[parameter] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Formulae] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[generalSettings]    Script Date: 19/07/2018 09:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[generalSettings](
	[matricule] [nvarchar](128) NOT NULL,
	[exercice] [int] NOT NULL,
	[ownerId] [nvarchar](128) NOT NULL,
	[nomEtPrenomRaisonSociale] [nvarchar](max) NOT NULL,
	[activite] [nvarchar](max) NOT NULL,
	[adresse] [nvarchar](max) NOT NULL,
	[dateDebutExercice] [datetime] NOT NULL,
	[dateClotureExercice] [datetime] NOT NULL,
	[actededepot] [nvarchar](max) NOT NULL,
	[natureDepot] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.generalSettings] PRIMARY KEY CLUSTERED 
(
	[ownerId] ASC,
	[matricule] ASC,
	[exercice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParametersSettings]    Script Date: 19/07/2018 09:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParametersSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ownerId] [nvarchar](max) NULL,
	[matricule] [nvarchar](max) NULL,
	[exercice] [int] NOT NULL,
	[hasParamActif] [bit] NOT NULL,
	[hasParamPassif] [bit] NOT NULL,
	[hasParamFluxMA] [bit] NOT NULL,
	[hasParamFluxMR] [bit] NOT NULL,
	[hasParamRes] [bit] NOT NULL,
	[hasParamEtatDeRes] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ParametersSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PassifFormulas]    Script Date: 19/07/2018 09:15:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PassifFormulas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[codeParam] [nvarchar](max) NULL,
	[codeDonnee] [nvarchar](max) NOT NULL,
	[nomCompte] [nvarchar](max) NOT NULL,
	[typeFormule] [nvarchar](max) NOT NULL,
	[exercice] [int] NOT NULL,
	[matricule] [nvarchar](max) NULL,
	[ownerId] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PassifFormulas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PassifParamModels]    Script Date: 19/07/2018 09:15:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PassifParamModels](
	[code] [nvarchar](128) NOT NULL,
	[libelle] [nvarchar](max) NULL,
	[netN] [real] NOT NULL,
	[netN1] [real] NOT NULL,
	[type] [nvarchar](max) NULL,
	[exercice] [int] NOT NULL,
	[matricule] [nvarchar](128) NOT NULL,
	[state] [nvarchar](max) NULL,
	[ownerId] [nvarchar](128) NOT NULL,
	[priority] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PassifParamModels] PRIMARY KEY CLUSTERED 
(
	[ownerId] ASC,
	[code] ASC,
	[exercice] ASC,
	[matricule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResultatFiscalFormulas]    Script Date: 19/07/2018 09:15:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultatFiscalFormulas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[codeParam] [nvarchar](max) NULL,
	[codeDonnee] [nvarchar](max) NOT NULL,
	[nomCompte] [nvarchar](max) NOT NULL,
	[typeFormule] [nvarchar](max) NOT NULL,
	[exercice] [int] NOT NULL,
	[matricule] [nvarchar](max) NULL,
	[ownerId] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ResultatFiscalFormulas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResultatFiscalParamModels]    Script Date: 19/07/2018 09:15:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultatFiscalParamModels](
	[code] [nvarchar](128) NOT NULL,
	[libelle] [nvarchar](max) NULL,
	[netN] [real] NOT NULL,
	[netN1] [real] NOT NULL,
	[type] [nvarchar](max) NULL,
	[exercice] [int] NOT NULL,
	[matricule] [nvarchar](128) NOT NULL,
	[state] [nvarchar](max) NULL,
	[ownerId] [nvarchar](128) NOT NULL,
	[priority] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ResultatFiscalParamModels] PRIMARY KEY CLUSTERED 
(
	[ownerId] ASC,
	[code] ASC,
	[exercice] ASC,
	[matricule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Formulae] ON 

INSERT [dbo].[Formulae] ([Id], [code], [type], [parameter]) VALUES (27, N'0001', N'Actif', N'0002')
INSERT [dbo].[Formulae] ([Id], [code], [type], [parameter]) VALUES (28, N'0001', N'Actif', N'0031')
INSERT [dbo].[Formulae] ([Id], [code], [type], [parameter]) VALUES (29, N'0002', N'Actif', N'0003')
GO
SET IDENTITY_INSERT [dbo].[Formulae] OFF
ALTER TABLE [dbo].[ActifFormulas] ADD  DEFAULT ((0)) FOR [exercice]
GO
ALTER TABLE [dbo].[ActifParamModels] ADD  DEFAULT ((0)) FOR [exercice]
GO
ALTER TABLE [dbo].[ActifParamModels] ADD  DEFAULT ('') FOR [ownerId]
GO
ALTER TABLE [dbo].[ActifParamModels] ADD  DEFAULT ((0)) FOR [priority]
GO
ALTER TABLE [dbo].[EtatDeResultatFormulas] ADD  DEFAULT ((0)) FOR [exercice]
GO
ALTER TABLE [dbo].[EtatDeResultatParamModels] ADD  DEFAULT ((0)) FOR [exercice]
GO
ALTER TABLE [dbo].[EtatDeResultatParamModels] ADD  DEFAULT ('') FOR [matricule]
GO
ALTER TABLE [dbo].[EtatDeResultatParamModels] ADD  DEFAULT ('') FOR [ownerId]
GO
ALTER TABLE [dbo].[EtatDeResultatParamModels] ADD  DEFAULT ((0)) FOR [priority]
GO
ALTER TABLE [dbo].[FluxTresorerieMAFormulas] ADD  DEFAULT ((0)) FOR [exercice]
GO
ALTER TABLE [dbo].[FluxTresorerieMAFormulas] ADD  DEFAULT ('') FOR [RANjournal]
GO
ALTER TABLE [dbo].[FluxTresorerieMAParamModels] ADD  DEFAULT ((0)) FOR [exercice]
GO
ALTER TABLE [dbo].[FluxTresorerieMAParamModels] ADD  DEFAULT ('') FOR [matricule]
GO
ALTER TABLE [dbo].[FluxTresorerieMAParamModels] ADD  DEFAULT ('') FOR [ownerId]
GO
ALTER TABLE [dbo].[FluxTresorerieMAParamModels] ADD  DEFAULT ((0)) FOR [priority]
GO
ALTER TABLE [dbo].[FluxTresorerieMRFormulas] ADD  DEFAULT ((0)) FOR [exercice]
GO
ALTER TABLE [dbo].[FluxTresorerieMRFormulas] ADD  DEFAULT ('') FOR [RANjournal]
GO
ALTER TABLE [dbo].[FluxTresorerieMRParamModels] ADD  DEFAULT ((0)) FOR [exercice]
GO
ALTER TABLE [dbo].[FluxTresorerieMRParamModels] ADD  DEFAULT ('') FOR [matricule]
GO
ALTER TABLE [dbo].[FluxTresorerieMRParamModels] ADD  DEFAULT ('') FOR [ownerId]
GO
ALTER TABLE [dbo].[FluxTresorerieMRParamModels] ADD  DEFAULT ((0)) FOR [priority]
GO
ALTER TABLE [dbo].[PassifFormulas] ADD  DEFAULT ((0)) FOR [exercice]
GO
ALTER TABLE [dbo].[PassifParamModels] ADD  DEFAULT ((0)) FOR [exercice]
GO
ALTER TABLE [dbo].[PassifParamModels] ADD  DEFAULT ('') FOR [matricule]
GO
ALTER TABLE [dbo].[PassifParamModels] ADD  DEFAULT ('') FOR [ownerId]
GO
ALTER TABLE [dbo].[PassifParamModels] ADD  DEFAULT ((0)) FOR [priority]
GO
ALTER TABLE [dbo].[ResultatFiscalFormulas] ADD  DEFAULT ((0)) FOR [exercice]
GO
ALTER TABLE [dbo].[ResultatFiscalParamModels] ADD  DEFAULT ((0)) FOR [exercice]
GO
ALTER TABLE [dbo].[ResultatFiscalParamModels] ADD  DEFAULT ('') FOR [matricule]
GO
ALTER TABLE [dbo].[ResultatFiscalParamModels] ADD  DEFAULT ('') FOR [ownerId]
GO
ALTER TABLE [dbo].[ResultatFiscalParamModels] ADD  DEFAULT ((0)) FOR [priority]
GO
USE [master]
GO
