
@{
    ViewBag.Title = "Notes";
}

<h2>Génération des notes</h2>
<div id="wrapper">
    <div id="centerDiv">
        @Html.ActionLink("Générer le fichier .pdf", "PrintFluxTresorerieMANotesAsPdf", "FluxTresorerieMAParameters", null, new { @class = "btn btn-default" })
    </div>
</div>
